.wow {
  width: 100px;
}
body{
  text-align: center;
  background-color:#ffffff
   border-width: medium;
  border-style: solid;
  border-color: #000000;
  font-family: Arial
}
h1{font-size: 25px;}
n1{text-alingn: center;}
font-family: Arial
li{font-family: Arial}
img{border-width: medium;
  border-style: solid;
  border-color: #000000; 
   }
  img{
    ALIGN="CENTER";
  }
